{% include "base.html" %}

<!-- THIS IS THE BANNER -->
<div class="container">
    <div class="row">
        <div class="col text-center text-white mt-3">
           <a href="https://www.youtube.com/watch?v=_AUXpnB065o" target="_blank">
               <img src="{{url_for('static', filename='logo.png')}}" style="border: 0;">
           </a>

            <p>Change Your Logo, Slogan, and Menu in header.html</p>
        </div>
    </div>
</div>

<!-- THIS IS THE MENU -->
<div>
    <center><table>
        <tr>
            <td class="pr-3"><h5><a href="">menu link</a></h5></td>
            <td class="pr-3"><h5><a href="">menu link</a></h5></td>
            <td class="pr-3"><h5><a href="">menu link</a></h5></td>
            <td class="pr-3"><h5><a href="#">menu link</a></h5></td>
         </tr>
    </table></center>
</div>
